@import '../config.scss';

button {
  padding: 10px 20px;
  border: 2px solid $font-primary;
  transition: background-color linear 0.3s;
  background-color: white;
  font-size: 1.25rem;
  border-radius: 3px;

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: $font-secondary;
  }

  &:disabled {
    background-color: $font-secondary;
  }
}

.small {
  font-size: 1rem;
  padding: 5px 10px;
}
