@import '../config.scss';

button {
  padding: 10px 20px;
  border: 1px solid $borders;
  background-color: $button-background;
  font-size: 1.25rem;
  border-radius: 3px;

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: $button-hover;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.small {
  font-size: 1rem;
  padding: 5px 10px;
}
