.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;

  .logo {
    width: 100px;
    height: 45px;
  }
}
