.password-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .input-label {
    font-size: 1.5rem;
    margin: 0;
  }

  app-input {
    margin: 20px 0;
  }
}
